.formOlvidoPassword {
    background-color: gainsboro;
    height: 658px;
}
.keyIcon {
    margin-left: 48%;
    position: absolute;
    top: 14%;
}
form .textoOlvidoContraseña{
    margin-left: 41%;
    position: absolute;
    top: 20%;
}
.errorEmailOlvidoPassword{
    color: red;
    font-size:12px;
    margin-top: -40px;
}
.MailOutlineIconForgotPassword{
    left: 84%;
    position:fixed;
    top: 31%;  
}