form h4 {
    margin-left: 38%;
    position: absolute;
    top: 18%;
}

.LockResetIcon {
    margin-left: 47%;
    position: absolute;
    top: 10%;
}

.containerPrincipalResetPassword {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: white;
    width: 30%;
}

.logInResetPassword {
    left: 3%;
    position: absolute;
    top: 6%;
    width: fit-content;
}
.SyncLockIconResetPassword{
    left: 82%;
    position:fixed;
    top: 23%;   
}
.SyncLockIconResetPassword2{
    left: 82%;
    position:fixed;
    top: 57%;   
}